body {
  background-color: #CC9966;
  
   
  background-repeat: no-repeat;
  
  background-position: center;
}


h1 { text-align: center; color: white; 
	 font-family: "doran", serif; }

h2 { text-align: center; color: black; 
	 font-family: "doran", serif; font-size: 30px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6d;
}


p.center{
    text-align: center; color: black; font-size: 35px;
} 

p.left{
     float: left;
} 


input[type=text], select {
  width: 100%; 
  padding: 10px 5px;
  margin: 8px 0;
  display: inline;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #CC9966;
  color: white;
  padding: 10px 5px;
  margin: 8px 0;
  display:inline;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #c5baaff7;
}

div.form
{
  border-radius: 5px;
  background-color: #f2f2f2;
  width:50%;
  height:550px; 
  border:solid;
  border-color: black;    
  padding:20px;
  margin:auto;
  align-content: inherit;
  
}

.form {
	padding: px px;	
}

.form-control {
	margin-bottom: px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #CC9966;
	border: 2px solid #CC9966;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}



p span{
	float: left;
	text-align: center;
	font-size: 25px;
  padding: 5px;
  width: 30%;
}

